:root {
  --mainColor : #0369A1;
  --darkColor : #000000;
  --secondColor :#7D7D7D;
  --greenColor : #00A3B2;
}
/* start general */
body {
  font-family: "Cairo", sans-serif;
}
/* end general */

/* start landing content */
.landing {
  position: relative;
  display: flex;
  align-items: end;
  justify-content: right;
  color: #fff;
  height: 20rem;
  padding: 3rem 0;
  background-color: var(--mainColor);
}
.landing .breadcrumb a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
.landing .breadcrumb-item::before  {
  float: left;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  content: ">";
}
.landing .breadcrumb-item+.breadcrumb-item::before {
  display: none;
}
.landing li.breadcrumb-item.active {
  width: 100%;
    color: #fff;
    font-weight: bold;
    font-size: 33px;
    padding-top: 20px;
}
.landing .breadcrumb-item+.breadcrumb-item {
  padding-right: 0;
  padding-left: 0;
}
/* end landing content */

/* start news page */
.main-news {
  padding: 5rem 0;
}
@media (max-width: 767px) {
  .main-news {
    padding: 1rem 0;
  }
}

.main-news a , .other-news a {
  text-decoration: none;
  text-align: start;
  color: var(--darkColor);
  line-height: 2;
}
.main-news .content-news  {
  padding-right: 30px;
  position: relative;
}
.other-news .content-news::after  {
  content: "";
  width: 4px;
  height: calc(90% - 0px );
  background-color: var(--mainColor);
  position: absolute;
  right: 0;
  transform: translatey(-5%);
  bottom: 0px;
}
@media (max-width: 767px) {
  .main-news .content-news::after ,
  .other-news .content-news::after {
    content: "";
    width: 4px;
    height: calc(90% - 0px );
    background-color: var(--mainColor);
    position: absolute;
    right: 0;
    transform: translatey(-5%);
    bottom: 0px;
  }
}
.other-news .content-news {
  position: relative;
  width: 100%;
  padding-right: 20px;
  /* border-right: 4px solid var(--mainColor); */
}
.other-news .content-news .title {
  margin: 0;
}
@media (max-width: 767px) {
  .main-news .content-news ,
  .other-news .content-news {
    padding-right: 15px;
    /* border-right: 4px solid var(--mainColor); */
    height: 170px;
  }
}
.main-news .content-news .title , 
.other-news .content-news .title {
  line-height: 2;
  font-weight: bold;
  max-height: 100px;
  overflow: hidden;
  margin: 15px 0;
  font-size: 22px;
}

.main-news .content-news .details {
  min-height: 100px;
  max-height: 100px;
  overflow: hidden;
  margin: 0;
}
.main-news .content-news .date , 
.other-news .content-news .date{
  color: var(--secondColor);
}
.other-news .img-news {
  width: 400px;
  margin-left: 20px;
}
.other-news .content-news .details {
  min-height: 70px;
  max-height: 70px;
  overflow: hidden;
  margin: 0;
  color: var(--secondColor);
}


ul.pagination {
  margin: 0;
  padding: 0;
}
.pagination  a.page-link {
  font-size: 12px;
  border: none;
  color: var(--secondColor);
  padding: 5px 10px;
}
.pagination .page-item:last-child .page-link ,
.pagination .page-item:first-child .page-link {
  border-radius: 0;
  color: var(--greenColor);
}
.pagination .page-link.active {
  color: #fff;
  background-color: var(--greenColor);
  border-color: var(--greenColor);
}
.pagination .page-item:not(:first-child) .page-link {
  margin: 0;
}
/* end news page */