body {
    font-family: 'Roboto', sans-serif;
}

.upper-nav {
    background-color: rgb(48,63,84) !important;
    line-height: 3 !important;
}

.upper-nav a {
    color: rgb(255, 255, 255);
}

.upper-nav .main-btn {
    border: 1px solid #fff;
    color: #fff;
    font-size: 12px;
    padding: 8px;
    line-height: 1.3;
    font-weight: bold;
}

.nav-link:focus, .nav-link:hover {
    color: #fff;
    background-color: rgb(32,52,78);
}

.upper-nav .dropdown-menu {
    background-color: rgb(241,245,249);
    border: none;
    border-radius: 0;
    text-align: right;
    font-size: 14px;
    line-height: 2.5;
}
.upper-nav .dropdown-menu[data-bs-popper] {
    right: 0;
    padding: 0 10px;
}
.upper-nav .dropdown-menu a {
    color: #3287B4;
    padding: 0 10px;
    font-weight: bold;
}

.upper-nav .dropdown-menu .dropdown-divider {
    opacity: .25;
}
.upper-nav .dropdown-menu  .dropdown-item:focus, .upper-nav .dropdown-menu .dropdown-item:hover {
    color: inherit;
    background-color: #f1f5f9;
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 12px;
        padding-right: 12px;
    }
}



form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}
input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}
.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}
form:hover{
    width: 200px;
    cursor: pointer;
}
form:hover input{
    display: block;
}
form:hover .fa{
    background: #07051a;
    color: white;
}