.landing-page {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    height: 70vh;
}

.landing-page .video-container {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.landing-page .video-container video {
	width: 1920px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.landing-page .video-container:after {
	content: '';
	z-index: 1;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
}

.landing-page .content {
	z-index: 2;
}
.landing-page .form input.form-control , .landing-page .form input.form-control::placeholder {
	height: 60px;
    background: none;
    color: #fff;
}

.landing-page .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.landing-page .input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-right: calc(var(--bs-border-width) * -1);
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}
.landing-page .input-group>:last-child {
    border-top-left-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
}
.landing-page form .btn-majors,
.landing-page form .btn-search {
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
    font-size: 14px;
    color: #fff;
}
.landing-page form .btn-search {
    background-color: #383636;
}
.landing-page form .btn-majors {
    border-left: solid 1px #fff;
    background-color: #0369a1;    
}

/* carosel */
.carousel-section {
    background-color: #F3F4F6;
    text-align: center;
}
.carousel-section .carousel-inner a , .carousel-section .carousel-inner svg {
    text-decoration: none;
    color: #0369A1;
    font-weight: bold;
    font-size: 14px;
}
.carousel-section .carousel-inner {
    height: 70px;
    padding: 0 50px;
}
.carousel-section .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #0369A1;
  }
  .carousel-section .carousel-indicators {
    margin-bottom: 0;
  }

  /* navtabs */
.navtabs {
    padding: 100px 0;
}
.navtabs .nav-tabs {
    padding-right: 0;
    border-bottom: 1px solid #C9C9C9;
    font-size: 24px;
}
.navtabs li.nav-item {
    width: 50%;
}  
.navtabs li.nav-item button {
    width: 100%;
    color: #747474;
    font-weight: bold;
}
.navtabs .nav-tabs .nav-item.show .nav-link, .navtabs .nav-tabs .nav-link.active {
    color: #061025;
    /* background-color: #00A3B2; */
    /* border-color: #00A3B2; */
    border-bottom: 5px solid #00a3b2;
}
.navtabs .nav-tabs button {
    background: none;
    border: 0;
}
 .navtabs .nav-tabs button:hover {
    background: none;
    border: 0;
}
.navtabs .tab-content .main-news {
    background-color: #F1F5F9; 
    padding: 2.5rem 1.5rem;
}
.navtabs .tab-content .main-news .title-news{
    margin-top: 20px;
    font-weight: bold;
    font-size: 22px;
}
.navtabs .tab-content .main-news .date-news {
     color: #4b5563;
     font-size: 14px;
}
.navtabs .tab-content a.old-news {
    text-decoration: none;
}
.navtabs .tab-content a.old-news .title{
    color: #272828;
    font-size: 22px;
    font-weight: bold;
}
.navtabs .tab-content a.old-news .date{
    color: #4b5563;
    font-size: 14px;
}

.navtabs hr {
    width: 20%;
    margin-right: 5%;
}

 .all {
    background-color: #fff;
    padding: 8px 30px;
    border: 1px solid #E9E9E9;
    color: #747474;
    text-decoration: none;
}
 .all svg {
    margin-right: 25px;
}


.navtabs .acchev {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
  }
  .navtabs .acchev .left {
    width: 70%;
    height: 400px;
    background: url("../images/2023-02-19-06-54-39_1673802125_8990.jpeg")
      no-repeat center / cover;
    border-radius: 8px;
    background-color: rgb(61, 61, 61);
  }
  
  .navtabs .acchev .right {
    width: 50%;
    min-height: 270px;
    background-color: #0069A2;
    color: #fff; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 0px;

    margin-left: -150px;
    z-index: 1;
  }

  .navtabs .acchev .right p {
    margin: 20px 0;
    font-weight: bold;
    line-height: 50px;
    font-size: 30px;
  }
  .navtabs .acchev .right span {
    font-size: 14px;
  }
  
  @media only screen and (max-width: 768px) {
    .navtabs .acchev {
      flex-direction: column-reverse;
      width: 100%;
    }
    .navtabs .acchev .left {
      width: 100%;
      height: 400px;
    }
    .navtabs .acchev .right {
      width: 90%;
      margin: 0;
      margin-top: -100px;
    }
  }
  /* start events */

  .events .box-event-main {
    /* border: 2px solid #E9E9E9; */
    height: 300px;
    padding: 20px 30px 0px;
    line-height: 2;
  }
 
  @media only screen and (max-width: 768px) {
    .events .box-event-main {
        height: auto;
        line-height: 1;
        padding: 10px 5px;
        flex-direction: row !important;
        justify-content: space-around;
        align-items: center !important;
     }
  }
.events .box-event-main p {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 3rem;
}
@media only screen and (max-width: 768px) {
    .events .box-event-main p {
        font-size: 1.3rem;
    }
  }
.events .box-event-main .btn-callender {
    padding: 8px 14px;
    border: 1px solid #E9E9E9;
    border-radius: 0;
}
@media only screen and (max-width: 768px) {
    .events .box-event-main .btn-callender {
        font-size: 12px;
    }
    
  }
.events .box-event-main .btn-callender.non-active {
    background-color: #fff ;
    color: #747474;
}
.events .box-event-main .btn-callender.active {
    background-color: #0069A2 ;
    color: #fff;
}
.events .box-event-second {
    border: 1px solid #E9E9E9;
    height: 300px;
    padding:30px 12px;
    line-height: 2;
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 767px) {
    .events .box-event-second {
        flex-direction: row;
        height: auto;
        margin-bottom: 10px;
    }
    
  }
.events .box-event-second .event-status .key-status {
    padding: 2px 14px;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    position: relative;
    top: -16px;
    }
.events .box-event-second .event-status .key-status.acadimic {
        background-color: #0069A2;
    }
    .events .box-event-second .event-status .key-status.events {
        background-color: #FACD0D;
        }
        .events .box-event-second .event-status .key-status.discus {
            background-color: #00A3B1;
            }
  .events .box-event-second .date {
    color: #0069A2;
    font-weight: bold;
    line-height: 60px;
  }
  
  .events .box-event-second .date .month , .events .box-event-second .date .day {
    margin: 0;
    font-size: 3rem;
    line-height: 3rem;
  }
  @media only screen and (max-width: 767px) {
    .events .box-event-second .date .month ,
     .events .box-event-second .date .day{
     margin: 0;
     font-size: 1.9rem;
     width: 120px;
     line-height: 3rem;
    }
  }
  @media only screen and (max-width: 767px) {
     .events .box-event-second .date .day{

         font-size: 3rem;
    }
  }
  .events .box-event-second .event-info .title-event {
    font-weight: bold;
    font-size: 18px;
    margin-top: 12px;
    height: 95px;
    overflow: hidden;
    line-height: 42px;
    color: #333;
  }

  .events .box-event-second .event-info {
    color: #747474;
  }
  @media only screen and (max-width: 767px) {
    .events .box-event-second .event-info {
        width: 100%;
    }
    
  }
    
  